/* Error: Missing argument $size.
 *     ,--> src\scss\layout\_header.scss
 * 35  |         @include textStyle;
 *     |         ^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *     ,--> src\scss\utils\_mixin.scss
 * 106 | @mixin textStyle($size){
 *     |        ================ declaration
 *     '
 *   src\scss\layout\_header.scss 35:9      textStyle()
 *   src\scss\layout\_header.scss 35:9      @content
 *   src\scss\utils\_media-query.scss 63:9  mobile()
 *   src\scss\layout\_header.scss 32:5      @use
 *   src\scss\layout\_index.scss 2:1        @use
 *   src\scss\index.scss 3:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $size.\a     \250c \2500 \2500 > src\\scss\\layout\\_header.scss\a 35  \2502          @include textStyle;\a     \2502          ^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a     \250c \2500 \2500 > src\\scss\\utils\\_mixin.scss\a 106 \2502  @mixin textStyle($size){\a     \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a     \2575 \a   src\\scss\\layout\\_header.scss 35:9      textStyle()\a   src\\scss\\layout\\_header.scss 35:9      @content\a   src\\scss\\utils\\_media-query.scss 63:9  mobile()\a   src\\scss\\layout\\_header.scss 32:5      @use\a   src\\scss\\layout\\_index.scss 2:1        @use\a   src\\scss\\index.scss 3:1                root stylesheet";
}
